﻿@model Todo.WebUI.Models.TaskModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
    <link href="~/Style/mainStyles.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <p class="logo">Редагування</p> 
        <form method="post" class="form">
            @Html.LabelFor(m => m.Id)
            @Html.DisplayTextFor(m => m.Id) 
            @Html.TextBoxFor(m => m.Title)<br />
            @Html.LabelFor(m => m.IsDone)
            @Html.CheckBoxFor(m => m.IsDone)<br />
            @Html.LabelFor(m => m.Priority)
            @Html.EnumDropDownListFor(m => m.Priority)<br />
            @Html.HiddenFor(m => m.Id)
            <input type="submit" name="btn-submit" value="Save" />
        </form>
        <form method="get" action="/task" class="form"> 
            <input type="submit" name="btn-submit" value="Cencel" />
        </form>
    </div>
</body>
</html>
