﻿@using Todo.Entities;
@{
    List<TaskEntity> tasks = ViewBag.Tasks;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Style/mainStyles.css" rel="stylesheet" />
    <script src="~/Scripts/libs/jquery/jquery-2.1.4.js"></script>
</head>
<body>
    <div class="container">
        <p class="logo">ToDo List</p>
        <select class="filter">
            <option value="all" selected>All</option>
            <option value="inProgers">In Progress</option>
            <option value="done">Done</option>
        </select>
        <form method="post" action="/Security/Logout" style="float: right">
            <input type="submit" value="Logout" />
        </form>
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Taks</th>
                    <th>Priority</th>
                    <th>Is Done</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
            @Html.Partial("TasksPartial", tasks)
            </tbody>
        </table>
        <form method="post" class="new-task-form">
            <input type="text" name="textTask" />
            <input type="submit" name="submiteTask" value="New Task" />
        </form>
    </div>
    <script src="~/Scripts/pages/tasks-page.js"></script>
</body>
</html>
