﻿@model List<Todo.Entities.TaskEntity>

@for(int i = 0; i < Model.Count; i++)
{
    <tr>
        <td>@Model[i].Id</td>
        <td title="" @(Model[i].IsDone == true ? "class=title-is-done" : "")>@Model[i].Title</td>
        <td>@Model[i].Priority</td>
        <td><input type="checkbox" data-task-id="@(Model[i].Id)" name="IsDone" @(Model[i].IsDone == true ? "checked" : "") /></td>
        <td>
            <form method="post" action="/Task/Delete">
                <input type="hidden" name="idTask" value="@(Model[i].Id)" />
                <input class="btn btn-red" type="submit" name="deleteTask" value="Delete Task" />
            </form>
            <button class="btn btn-blue"><a href="/Task/edit?id=@Model[i].Id">Edit</a></button>
        </td>
    </tr>
}