﻿* {
    padding: 0;
    margin: 0;
    border: 0;
    font-size: 100%;
}
a {
    text-decoration: none;
    color: #000;
}
body {
    background-color: #eee;
}
td, th {
    padding: 5px;
}
table, th, td {
    border: 1px solid #000;
}
tr th {
    background-color: #e1e1e1;
}
table {
    border-collapse: collapse;
    border: 2px solid #333333;
    width: 100%;
    font-family: Arial;
}
.form {
    width: 100%;
}
.form input{
    display: inline-block;
    padding: 5px;
    border: 2px solid #333;
    border-radius: 3px;
    width: auto;
    margin: 5px;
}
.form label{
    display: inline-block;
    width: auto;
    font-family: Arial;
    margin: 5px;
}
.new-task-form {
    margin: auto;
    width: 100%; 
}
.new-task-form input {
    margin: 5px;
    margin-top: 10px;
    padding: 5px;
    border: 2px solid #333;
    border-radius: 3px;
}
.container {
    margin: auto;
    margin-top: 40px;
    padding: 10px 0;
    width: 600px;
    border-top: 5px solid #333;
    border-bottom: 5px solid #333;
    text-align: center;
}
.logo {
    margin: auto;
    margin-top: -70px;
    margin-bottom: 20px;
    padding: 20px;
    font-size: 22px;
    font-family: Arial;
    color: #f05a1a;
}
.btn {
    padding: 5px;
    margin: 3px;
    border: 2px solid #333;
    border-radius: 3px;
}
.btn-blue:hover {
    transition: 1s;
    background-color: rgba(13,88,217,1);
}
.btn-red:hover {
    transition: 1s;
    background-color: rgba(217,54,13,1);
}
.title-is-done {
    text-decoration: line-through;
    color: rgba(0, 0, 0, .5);
}