﻿@model Todo.WebUI.Models.SecurityModel
@{
    string errorString = ViewBag.ErrorString;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="~/Style/mainStyles.css" rel="stylesheet" />
</head>
<body>
    @if (!String.IsNullOrWhiteSpace(errorString))
    {
        <p style="color: red">@errorString</p>
    }
    <form method="post">
        @Html.LabelFor(m => m.Login)
        @Html.TextBoxFor(m => m.Login)
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password)
        <input type="submit" value="Login" name="btn-submit-login"/>
    </form>
</body>
</html>
